body{
    background-image: linear-gradient(45deg, rgba(255, 0, 0, 0.5), rgba(255, 166, 0, 0.5), rgba(0, 0, 255, 0.5)), url(./ghanafood.jpeg);
    background-color: aliceblue;
}
table, th, td {
    
    width:60%;
    margin: auto;

    border-collapse: collapse;
    text-align: center;

    font-size: 30px;
    table-layout: fixed;
}
th, td {
    color: white;
    padding: 25px;
}
.enter{height: 50%;
    width: 50%;
    background-color: bisque;
    position: absolute;
    padding-right:10%;
}
input{
   
}

#main{
    border: 2px solid black;
    background-color: wheat;
    color: black;
    font-weight: bold;
    margin: 4px;
    padding: 30px;
    width: 100%;
    height: 100%;

}
.check{
    position: absolute;
    left: 85%;
}
input.checkbox {
    width: 30px;
    height: 25px;
}

select.portion-select {
    font-size: 20px;
    padding: 3px;
}    
